table {
    text-align: center;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    color: white;
}

td, th {
    border-width: 10px;
    border-color: #ffffff00;
    width: 1000;
    margin: auto;
    padding: auto;
}

tr:nth-child(even) {
    background: #0c074d;
}

td:hover {
    background-color: #442ea3;
}

th {
    background-color: #4f4e6800;
    color: #45e61d;
    width: auto;
}