/* Main section */
footer {
    text-align: left;
    font-size: 12px;
    padding-left: 1%;
    padding-bottom: 0.1%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}

.gallery-img {
    width: 100%;
    height: auto;
}

.highlight {
    width: 100%;
    height: auto;
    border-width: 2px;
    border-style: solid;
}

.delight {
    width: 100%;
    height: auto;
    border-width: 2px;
    border-style: solid;
    opacity: 50%;
    filter:blur(2px)
}

#img-gallery {
    padding-top: 10px;
}

#img-gallery .row {
    margin-bottom: 10px;
}

/* CLASSES BEGIN HERE */
/* NAV */
.navBackground {
    padding: 10px;
}
.navPadding {
    padding: 0px;
    margin: auto;
}

.navItem {
    padding: 3px;
    display: inline;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    margin: auto;
}

a:visited, a:link {
    text-decoration: none
}

/* THE MAIN CONTENT BOX */
.contentBox {
    margin: 5%;
}

/* OUTER BORDER */
.outerTitle {
    text-align: left;
    padding: 4px;
    padding-left: 1%;
    margin: 3px;
    padding-bottom: 6px;
}

.outerBorder {
    margin: auto;
    margin-bottom: 100%;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* OUTER CONTENT */
.outerContentTitle {
    text-align: left;
    margin: auto;
    padding: 2px;
    border-width: 0px;
    border-left-width: 2px;
    border-top-width: 2px;
    border-style: solid;
}

.outerContentBox {
    border-width: 2px;
    border-top-width: 3px;
    border-style: solid;
}

.outerContextText {
    text-align: left;
    margin: auto;
    padding-top: 15px;
    padding-left: 30px;
}

/* INNER CONTENT */
.innerBorder {
    border-style: solid;
    border-width: 2px;
    margin: 10px;
}

.innerContentText {
    text-align: left;
    border-width: 2px;
    border-style: solid;
    list-style: none;
    text-align: left;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}